DEBUG=True
SECRET_KEY=""
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=db_name
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

CELERY_BROKER_URL=redis://redis-server:6379/0
CELERY_RESULT_BACKEND=redis://redis-server:6379/0

MAIL_BACKEND=mailtrap

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=""
MAIL_FROM_NAME="UOG Group B8"
MAIL_SSL_TLS="tls"


MAILTRAP_API_TOKEN=
MAILTRAP_SENDER_EMAIL=support@uoggroupb8.com
MAILTRAP_SENDER_NAME="UOG Group B8"
MAILTRAP__CC_EMAIL=
