<html>
<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #dddddd; background-color: #ffffff; margin-top: 20px;">
        <tr>
            <td align="center" style="padding: 20px; background-color: #333; color: #ffffff;">
                <h1 style="margin: 0;">UOG Group B8</h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; color: #333333;">
                <h2 style="padding: 20px; text-align:center;">Login to your account</h2>
                <p>Dear ${name},</p>
                <p>Please use the following one time password to login first time.</p>
                <pre>${password}</pre>
                <br>
                <p>Best regards,</p>
                <p><small>UOG Group B8</small></p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px; background-color: #f9f9f9; color: #666666; font-size: 12px;">
                <p>This email was sent to you by UOG Group B8 . If you have any questions, please contact us at <a href="mailto:waithawoocw@gmail.com" style="color: #0073e6;">waithawoocw@gmail.com</a>.</p>
            </td>
        </tr>
    </table>
</body>
</html>
